<div class="row">
  <div class="col">
    <div class="t_hero">
      <h2 class="t_hero_header">Welcome</h2>
      <p class="t_tagline">Software Architecture | Data Analytics | Containerization</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="t_banner_border">
      <div class="t_banner">
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="model">
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="1"> Front-End
          </label>
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" value="middle"> Back-End
          </label>
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="false"> Analytics
          </label>
          <p>TESTING</p>
        </div>
      </div>
    </div>
  </div>
</div>